@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62..125,100..900;1,62..125,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

.botonera {
    width: 100%;
    display: grid;
    justify-content: space-around;
    padding: 0.5rem;
}

.boton {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    color: #153244;
    align-items: center;
    font-family: "Archivo", system-ui;
    font-style: normal;
    font-weight: 700;
    min-width: 200px;
    min-height: 4rem;
    max-height: 10rem;
    font-size: large;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 30px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin: 0.5rem;
    text-align: center;
}

.boton:hover {
    background-color: #153244;
    color: #ffcc00;
}

.boton:visited {
    color: #fff;
}

/* COLORES */
.colorFondo1 {
    background-color: #ffcc00;
}

/* PUNTOS DE CORTE */

/* Small devices */
@media only screen and (max-width: 500px) {
    #contenido {
        font-size: x-large;
    }

    .botonera {
        grid-template-columns: 80%;
    }
}

/* Medium devices */
@media only screen and (min-width: 500px) {
    #contenido {
        font-size: larger;
    }

    .botonera {
        grid-template-columns: 80%;
    }
}

/* Large devices */
@media only screen and (min-width: 768px) {
    #contenido {
        font-size: large;
    }

    .botonera {
        grid-template-columns: 40% 40%;
    }
}